#intro

  #category
    ul
      h3 ΣNX·IO
      each value, key in public.section
        if (['_contents', '_data'].indexOf(key) == -1)				
          li.top: a(href="#{docroot}/section/#{key}")= ""+key 
            each thing, other in public.section[key]
              if (['_contents', '_data'].indexOf(other) == -1)
                li.nested: a(href="#{docroot}/section/#{key}/#{other}")= ""+other 
