section
  h1 Progress.

section#progress
    - var count = 0
    for entry in public.section.progress._data  
      - count++
      p(id=entry.time) #{count}. #{entry.title}

section.interstice
  #chart
    - var done = ((count-1)/216*100).toFixed(1)
    .centered
      h4 #{done}% 
      p: b #{count} of 216

script(src="../section/progress/progress.js")
